DATABASE_URL=THIS IS HOW WE STRUCTURED THE .ENV FILE
SECRET_KEY=THIS IS HOW WE STRUCTURED THE .ENV FILE
SPOTIFY_CLIENT_ID=THIS IS HOW WE STRUCTURED THE .ENV FILE
SPOTIFY_CLIENT_SECRET=THIS IS HOW WE STRUCTURED THE .ENV FILE
